aside {
  display: none; }
  aside.active {
    width: 20%;
    background: gray;
    display: inline-block;
    vertical-align: top;
    display: inline-block; }
    aside.active nav {
      width: 95%;
      margin-top: 50%; }
      aside.active nav ul {
        margin-left: 5%;
        padding: 0; }
        aside.active nav ul li {
          display: block;
          padding: 0;
          height: 50px;
          background: yellow;
          text-align: center;
          border: 3px solid black;
          margin-bottom: 10%; }
          aside.active nav ul li.active {
            background: coral; }
          aside.active nav ul li a {
            font-family: sans-serif;
            line-height: 3em; }

section.collapsed {
  width: 79%; }
  section.collapsed .backButton {
    display: none; }
  section.collapsed .closeAlbumTitle {
    display: block;
    text-align: center; }
  section.collapsed .photoWrapper1, section.collapsed .photoWrapper2, section.collapsed .photoWrapper3, section.collapsed .photoWrapper4, section.collapsed .photoWrapper5, section.collapsed .photoWrapper6 {
    display: none; }
    section.collapsed .photoWrapper1.active, section.collapsed .photoWrapper2.active, section.collapsed .photoWrapper3.active, section.collapsed .photoWrapper4.active, section.collapsed .photoWrapper5.active, section.collapsed .photoWrapper6.active {
      display: block;
      margin-left: auto;
      margin-right: auto;
      background: lightblue;
      display: -webkit-flex;
      -webkit-justify-content: space-around;
      flex-wrap: wrap; }
      section.collapsed .photoWrapper1.active .photoFrame, section.collapsed .photoWrapper2.active .photoFrame, section.collapsed .photoWrapper3.active .photoFrame, section.collapsed .photoWrapper4.active .photoFrame, section.collapsed .photoWrapper5.active .photoFrame, section.collapsed .photoWrapper6.active .photoFrame {
        background: ghostwhite;
        margin: 5%; }
        section.collapsed .photoWrapper1.active .photoFrame img, section.collapsed .photoWrapper2.active .photoFrame img, section.collapsed .photoWrapper3.active .photoFrame img, section.collapsed .photoWrapper4.active .photoFrame img, section.collapsed .photoWrapper5.active .photoFrame img, section.collapsed .photoWrapper6.active .photoFrame img {
          width: 225px; }
        section.collapsed .photoWrapper1.active .photoFrame h5.albumName, section.collapsed .photoWrapper2.active .photoFrame h5.albumName, section.collapsed .photoWrapper3.active .photoFrame h5.albumName, section.collapsed .photoWrapper4.active .photoFrame h5.albumName, section.collapsed .photoWrapper5.active .photoFrame h5.albumName, section.collapsed .photoWrapper6.active .photoFrame h5.albumName {
          display: none; }
        section.collapsed .photoWrapper1.active .photoFrame h5.photoName, section.collapsed .photoWrapper2.active .photoFrame h5.photoName, section.collapsed .photoWrapper3.active .photoFrame h5.photoName, section.collapsed .photoWrapper4.active .photoFrame h5.photoName, section.collapsed .photoWrapper5.active .photoFrame h5.photoName, section.collapsed .photoWrapper6.active .photoFrame h5.photoName {
          display: block;
          text-align: center;
          padding-bottom: 10px; }

section.fullscreen {
  background: gray;
  width: 100%; }
  section.fullscreen .backButton {
    display: inline-block; }
  section.fullscreen .photoWrapper1.active, section.fullscreen .photoWrapper2.active, section.fullscreen .photoWrapper3.active, section.fullscreen .photoWrapper4.active, section.fullscreen .photoWrapper5.active, section.fullscreen .photoWrapper6.active {
    width: 100%;
    display: block; }
    section.fullscreen .photoWrapper1.active .photoFrame, section.fullscreen .photoWrapper2.active .photoFrame, section.fullscreen .photoWrapper3.active .photoFrame, section.fullscreen .photoWrapper4.active .photoFrame, section.fullscreen .photoWrapper5.active .photoFrame, section.fullscreen .photoWrapper6.active .photoFrame {
      margin-left: auto;
      margin-right: auto;
      margin-top: 5%;
      width: 35%;
      padding-bottom: 100px; }
      section.fullscreen .photoWrapper1.active .photoFrame img, section.fullscreen .photoWrapper2.active .photoFrame img, section.fullscreen .photoWrapper3.active .photoFrame img, section.fullscreen .photoWrapper4.active .photoFrame img, section.fullscreen .photoWrapper5.active .photoFrame img, section.fullscreen .photoWrapper6.active .photoFrame img {
        width: 100%; }
      section.fullscreen .photoWrapper1.active .photoFrame h5.photoName, section.fullscreen .photoWrapper2.active .photoFrame h5.photoName, section.fullscreen .photoWrapper3.active .photoFrame h5.photoName, section.fullscreen .photoWrapper4.active .photoFrame h5.photoName, section.fullscreen .photoWrapper5.active .photoFrame h5.photoName, section.fullscreen .photoWrapper6.active .photoFrame h5.photoName {
        display: none; }

body {
  margin: 0;
  padding: 0; }

header {
  width: 100%;
  background: #000;
  display: block;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px; }
  header h2 {
    text-align: center;
    color: ghostwhite;
    font-family: sans-serif; }

section {
  width: 100%;
  background: coral;
  display: inline-block;
  vertical-align: top; }
  section .backButton {
    display: none; }
  section h2 {
    text-align: center;
    display: none; }
  section h2.closePhotoTitle {
    display: none; }
  section .photoWrapper1, section .photoWrapper2, section .photoWrapper3, section .photoWrapper4, section .photoWrapper5, section .photoWrapper6 {
    display: none; }
  section .albumWrapper {
    display: none; }
    section .albumWrapper.active {
      display: block;
      margin-left: auto;
      margin-right: auto;
      background: lightblue;
      display: -webkit-flex;
      -webkit-justify-content: space-around;
      flex-wrap: wrap; }
      section .albumWrapper.active .albumFrame {
        background: ghostwhite;
        margin: 5%; }
        section .albumWrapper.active .albumFrame img {
          width: 250px; }
        section .albumWrapper.active .albumFrame h5.albumName {
          display: block;
          text-align: center;
          padding-bottom: 10px; }
