body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background: #000;
  display: block;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;

  h2 {
    text-align: center;
    color: ghostwhite;
    font-family: sans-serif;
  }
}

aside {
    width: 20%;
    background: tomato;
    display: inline-block;
    vertical-align: top;
    display: none;
}

nav {
  width: 95%;
  margin-top: 50%;

  ul {

    margin-left: 5%;
    padding: 0;

    li {
      display: block;
      padding: 0;
      height: 50px;
      background: yellow;
      text-align: center;
      border: 3px solid black;
      margin-bottom: 10%;

      a {
        font-family: sans-serif;
        line-height: 3em;
      }
    }
  }

}

section {
  width: 100%;
  background: coral;
  display: inline-block;
  vertical-align: top;

  .backButton{
    display: none;
  }

  h2.closeAlbumTitle {
    text-align: center;
    display: none;
  }

  h2.closePhotoTitle {
    display: none;
  }

  .albumWrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: lightblue;
    display: -webkit-flex;
    -webkit-justify-content: space-around;
    flex-wrap: wrap;

    .photoFrame {
      background: ghostwhite;
      margin: 5%;

        img {
          width: 250px;
        }

        h5.photoName {
          text-align: center;
          padding-bottom: 10px;

        }
    }

  }

}
