@import "stylesPhoto.scss";
@import "stylesFullscreen.scss";

body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background: #000;
  display: block;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;

  h2 {
    text-align: center;
    color: ghostwhite;
    font-family: sans-serif;
  }
}

section {
  width: 100%;
  background: coral;
  display: inline-block;
  vertical-align: top;

  .backButton {
    display: none;
  }

  h2 {
    text-align: center;
    display: none;
  }

  h2.closePhotoTitle {
    display: none;
  }

  .photoWrapper1, .photoWrapper2, .photoWrapper3, .photoWrapper4, .photoWrapper5, .photoWrapper6 {
    display: none;
  }

  .albumWrapper {
    display: none;

      &.active {
          display: block;
          margin-left: auto;
          margin-right: auto;
          background: lightblue;
          display: -webkit-flex;
          -webkit-justify-content: space-around;
          flex-wrap: wrap;

          .albumFrame {
            background: ghostwhite;
            margin: 5%;

              img {
                width: 250px;
              }

              h5.albumName {
                display: block;
                text-align: center;
                padding-bottom: 10px;
              }

          }

        }
    }
}
