section.fullscreen {
  background: gray;
  width: 100%;

    // .closePhotoTitle {
    //   display: block;
    //   text-align: center;
    // }
    .backButton {
      display: inline-block;
    }

    .photoWrapper1, .photoWrapper2, .photoWrapper3, .photoWrapper4, .photoWrapper5, .photoWrapper6 {

      &.active {
        width: 100%;
        display: block;

        .photoFrame {
          margin-left: auto;
          margin-right: auto;
          margin-top: 5%;
          width: 35%;
          padding-bottom: 100px;

          img {
            width: 100%;
          }

          h5.photoName {
            display: none;
          }
      }
    }
  }
}
